* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
p {
  position: absolute;
  width: 180px;
  height: 50px;
  background-color: rgb(95, 206, 231);
  padding: 15px 30px;
  margin-top: 50vh;
  margin-left: 50vw;
}
